<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/">Ekart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/shopping-cart">shopping-cart</a>
      </li>
      <li class="nav-item" *ngIf="!authService.isLoggedIn()">
        <a class="nav-link" routerLink="/login">signIn</a>
      </li>
      <li class="nav-item" *ngIf="!authService.isLoggedIn()">
        <a class="nav-link" routerLink="/register">register</a>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a *ngIf="authService.isLoggedIn() && authService.currentUser()" ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{authService.currentUser()}}</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
          <a *ngIf="authService.isAdmin()" class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
          <a *ngIf="authService.isAdmin()" class="dropdown-item" routerLink="/admin/products">Manage Products</a>
          <a class="dropdown-item" routerLink="/" (click)="authService.logOut()">SignOut</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- isAdmin()
<main role="main" class="container">

  <div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>

</main> /.container -->
